.mentor_info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.info_heading {
    color: #DD5FAA;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.add_mentor_tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-left: 0;
        gap: 10px;
        color: #FFF;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    li {
        display: inline-flex;
        height: 40px;
        padding: 9px 33px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background-color: #70ABD6;
        border-radius: 50px;

    }
}


.add_mentor_tags button {
    display: inline-flex;
    height: 40px;
    padding: 9px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3B96DA;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
}

.form_row {
    margin-bottom: 10px;
}

.label {
    color: #3B96DA;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.input {
    padding: 10px;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #70ABD6;
    color: #FFF;

    &:focus {
        outline: none;
    }
}

.priceInput {
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction:  row-reverse;
    gap: 60px;
    margin-top: 60px;
}

.undo_btn {
    width: 220px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #DD5FAA;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;


}
.undo_btn:hover{
    background-color: #da419d;
}


.save_btn {
    height: 70px;
    width: 220px;
    padding: 10px;
    background-color: #3B96DA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: background-color 0.3s ease;
}

.save_btn:hover {
    background-color: #3381bd;
}

.mentor_image {
    max-width: 300px;
    height: 300px;
    width: 100%;
    padding: 25px;
    margin-right: 60px;
    box-sizing: border-box;
    // background-color: #70ABD6;
    // border-radius: 10px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}