.mentor_details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mentor_details h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.mentor_details p {
  font-size: 16px;
  color: #666;
}

.mentor_details h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.mentor_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}