
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body{ 
  height: 100%;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/icons/background.png);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
